<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <variable name="LOGBASEDIR" value="${cached:cached=true:inner=${whenEmpty:whenEmpty=./log:inner=${environment:LOGBASEDIR}}}" />
    <variable name="session" value="${whenEmpty:whenEmpty=startup:inner=${event-properties:session-name}.${event-properties:session-logon}}" />

    <targets async="true">
        <target name="fixlog" xsi:type="File" fileName="${LOGBASEDIR}/${session}/file.txt" />
        <target name="logfile" xsi:type="File" fileName="${LOGBASEDIR}/file.txt" />
        <target name="logconsole" xsi:type="Console" />
    </targets>

    <rules>
        <logger name="QuickFix.Messages" writeTo="fixlog" minlevel="Info" final="true" />
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>